



<body>
    @*<br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <center>
        <form action="/Account/Login">
            <input type="submit" value="Login!">
    </center>
    </form>
    <br />
    <center>
        <form action="/Account/Register">
            <input type="submit" value="Register!">
        </form>
    </center>*@

    
   
</body>



<style type="text/css">
    body{
        background-image: url('@Url.Content("~/Content/Images/o-DETROIT-SKYLINE-facebook.png")');
    }
      

      img {
            opacity: 0.4;
            filter: alpha(opacity=40); /* For IE8 and earlier */
        }

            img:hover {
                opacity: 1.0;
                filter: alpha(opacity=100); /* For IE8 and earlier */
            }

</style>
  

    


