@*@*@using ExperienceITAlumni.Models



@{

    ViewBag.Title = "LogOff";

    Layout = "~/Views/Shared/_Layout.cshtml";

}



<h2>LogOut</h2>


@*public ActionResult LogOff()

{

    FormsAuthentication.SignOut();

    return RedirectToAction("Index", "Home");

}*@*@*@