@{
    ViewBag.Title = "Index";
}

<div>

</div>

<div>

</div>

<div>

<<<<<<< HEAD
=======
    @*<textarea>
        Hello
    </textarea>*@

>>>>>>> origin/CK
</div>


<script type="text/javascript">

<<<<<<< HEAD




=======
  
>>>>>>> origin/CK

</script>